.footer a:link,
.footer a:visited,
.footer a:hover {
  text-decoration: none;
}

.feedback {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

.feedback__form-tittle {
  position: relative;
  margin-top: 32px;
}

.feedback__form-text {
  font-size: 28px;
  line-height: 32px;
  margin-left: 16px;
  letter-spacing: -0.6px;
  font-family: "TT Lakes black", serif, "Times New Roman", Times, serif;
  vertical-align: middle;
}

.feedback__form-text::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 4px;
  height: 100%;
  border: 1px solid #41f6d7;
  border-radius: 0 4px 4px 0;
  background-color: #41f6d7;
}

.form__input {
  margin: auto;
  width: 100%;
  height: 48px;
  padding: 16px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
}

.knopka-cend {
  width: 136px;
  height: 32px;
  border-radius: 16px;
  background-color: #ff3e79;
  color: white;
  text-transform: uppercase;
  align-self: flex-end;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 16px;
  margin-top: 16px;
}

.form__input--message {
  height: 118px;
}

.form__policy a {
  color: #ff3e79;
}

.feedback {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  font-family: "TT Lakes medium", serif, "Times New Roman", Times, serif;
  font-size: 16px;
  letter-spacing: -0.2px;
  line-height: 24px;
  background-color: #ffffff;
  box-shadow: -16px 0px 52px 0px #0e185033;
}

.feedback--hidden {
  display: none;
}

.feedback__header {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}

.feedback__header-button{
  display: inline-block;
}

@media (min-width: 768px) {
  .feedback__header {
    position: absolute;
    margin: 0;
    left: -72px;
    top: 32px;
  }
}
